:host{
  height: 100%;
}
.activity-history {
  height: 100%;

  .top-container {
    position: relative;
    height: 30vh;

    img {
      height: 280px;
      filter: sepia(1);
    }

    .rankings {
      position: absolute;
      bottom: -6px;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 60px;
      align-items: center;
      background: #000000ab;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
      font-weight: bold;

      div {
        text-align: center;
        width: 33%;
        display: flex;
        flex-direction: column;

        .title {
          font-size: 12px;
          color: #cdcdcd;
          font-weight: bold;
        }

        .value {

        }
      }

      .left {
        border-right: 1px solid white;
      }

      .center {
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        filter: drop-shadow(2px 4px 6px black);

        img {
          height: 40px;
          width: 40px;
          filter: drop-shadow(2px 4px 6px white);
        }
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4vh;
    height: 10vh;
    align-items: center;

    .tab {
      color: #626368;
      font-weight: 700;
      padding-top: 20px;
    }

    .ranking {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .rank-number {
        color: white;
        font-size: 24px;
      }
    }

    .selected {
      color: white;
      border-bottom: 3px solid white;
    }
  }

  .history-container, .stats-container {
    margin-left: 10px;
    margin-right: 10px;
    height: calc(60vh - 50px);
    overflow-y: auto;

    .history-list {
      padding: 0.5em;

      .history-list-item {
        margin-top: 30px;
        margin-bottom: 30px;

        .history-list-item-header {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border: 1px solid #ffffff4a;
          padding-left: 20px;
          font-size: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: white;
          font-weight: bold;
        }

        .history-list-item-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          background: #34353a;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 1.5em;

          .index {
            color: white;
            font-size: 30px;
            font-weight: bold;
          }

          .num-of-bullets {
            color: white;
            font-size: 20px;
          }

          .num-of-hits {
            color: white;
            font-size: 20px;
          }
        }

        .accuracy {
          height: 120px;
          justify-content: flex-start;

          .text-content {
            display: flex;
            flex-direction: column;
            padding-left: 20px;

            div {
              display: flex;
              flex-direction: column;
              padding-bottom: 10px;

              .number {
                color: white;
                font-weight: bold;
              }

              .title {
                color: grey;
                font-size: 12px;
                padding-top: 5px;
              }
            }
          }
        }

        .challenges-completed {
          .completed {
            color: #fff;
            text-align: center;
            padding-right: 10px;
          }

          .progress-bar-container {
            width: 100%;
            position: relative;
            .line{
  z-index: 999;
  width: 5px;
  height: 22px;
  position: absolute;
  top: 15px;
  background: black;
  border: 1px solid white;
}
            .progress {
              padding: 0;
              width: 100%;
              height: 10px;
              overflow: hidden;
              background: #ec5051;
              border-radius: 6px;

              .bar {
                position: relative;
                float: left;
                min-width: 1%;
                height: 100%;
                background: #78d857;
              }
              .beginner {
                position: relative;
                float: left;
                min-width: 1%;
                height: 100%;
                background: #c92020;
              }
              .intermediate {
                position: relative;
                float: left;
                min-width: 1%;
                height: 100%;
                background: #ff7500;
              }
              .senior {
                position: relative;
                float: left;
                min-width: 1%;
                height: 100%;
                background: #ffea00;
              }
              .pro {
              position: relative;
              float: left;
              min-width: 1%;
              height: 100%;
              background: #00ff2a;
            }
            }

          }

          .not-completed {
            color: #fff;
            text-align: center;
            padding-left: 10px;
          }
        }
      }

    }

    .stats-container {
      height: calc(60vh - 50px);

      .history-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        .history-list-item {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

div.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1.56px;
    color: #fff;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      width: auto;
      height: 5px;
      margin: 8px 0;
    }
  }

  p.close-target {
    display: none;
  }

  div.hidden-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &.active {
    p.close-target {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        width: auto;
        height: 5px;
        margin: 8px 0;
      }
    }

    p.see-target {
      display: none;
    }

    div.hidden-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 300px;

      svg {
        margin-bottom: 10px;
      }
    }
  }
}

div.hidden-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hit{
  position: absolute;
  top: 0px;
  left: 0px;
  background: green;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

