<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="reader-outline"></ion-icon>
            Dashboard
        </ion-tab-button>
        <ion-tab-button tab="activity">
            <ion-icon name="locate-outline"></ion-icon>
            Activity
        </ion-tab-button>
        <ion-tab-button tab="feed">
            <ion-icon name="stats-chart-outline"></ion-icon>
            Progress
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon name="skull-outline"></ion-icon>
            Profile
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
