ion-tab-bar{
  background-color: #2d3436;
  border-top:1px solid #ffffff45;
  ion-tab-button{
    background-color: transparent;
    color:white;
  }
}
.tab-selected{
  color: #fce651 !important;
}
.hide-bottom{
  ion-tab-bar{
    display: none !important;
  }
}
