@import "../../../assets/colors";
ion-header {
  border-bottom: 1px solid white;
  .header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .target-and-gateway-status{
      display: flex;
      width: 100%;
      justify-content: center;
      .gateway-icon{
        margin-right: 10px;
      }
      .target-icon{
        margin-left: 10px;
      }
    }
    .rescan-wrapper{
      position: absolute;
      right: 10px;
    }
    .not-connected{
      fill: #f71313;
      height: 30px;
      width: 30px;
    }
    .connected{
      color: green;
      height: 30px;
      width: 30px;
    }
    svg{
      fill: #fff;
      height: 40px;
       right: 15px;
    }
  }
}
section.target-selection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
   align-items: center;



  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ffffff63;
    height: 50px;
    p.title {
      display: flex;
      align-items: center;
      font-size: 27px;
      color: white;
      margin: 0;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      span {
        color: #FCE651;
        padding-left: 0.3em;
      }
    }

    button.connect {
      border: 1px solid #FCE651;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: transparent;
      color: #FCE651;
      height: 50px;
      width: 100%;

      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase
    }


  }
.ble-img{
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    margin-top: 90px;
    color: white;
    animation: pulse-blue 2s infinite
  }

}
  .small-scan{
    padding-top: 20px !important;
    button{
      height: 100px !important;
      width: 100px !important;
    }
  }

  .scan-button-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    button{
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background: #FCE651;
      border: 1px solid black;
      box-shadow: 0px 14px 0px -3px #000;
    }
    p.explanation-text {
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
      word-break: break-word;
      width: 343px;
      padding-top: 40px;
    }
  }
  .target-grid {
    display: grid;
    grid-template-columns:100%;
    grid-gap: 20px;
    place-items: center;
    padding: 0.5em;
    margin-top: 50px;
    .target-box {
      box-shadow: inset 0 0 0.5px 1px hsla(0,0%,100%,.075), 0 0 0 2px rgb(255 255 255 / 48%), 0 0 1px 0.4px rgba(0,0,0,.02), 0 0.9px 1.5px rgba(0,0,0,.045), 0 3.5px 6px rgba(0,0,0,.09);
      height: 23vh;
      width: 23vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      position: relative;
      border-radius: 10px;
      font-size: 25px;
      .target-name{

        img{
          background: yellow;
          border-radius: 100%;
          height: 25px;
          width: 25px;
          position: absolute;
          bottom: -5px;
          right: -10px;
        }
      }
    }
    .boxIsSelected{
      border:3px solid yellow;
      border-radius: 5px;
      height: 25vh;
      width: 25vh;
    }
  }


  button.continue {
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #FCE651;
    color: black;
    height: 50px;
    width: 30%;
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    bottom: 10px;
    right: 10px;
  }


  .scanAnimation {
    animation: pulse-red 2s infinite;
  }


  @keyframes pulse-blue {
    0% {
      transform: scale(0.95);
      box-shadow:transparent;
      border-radius: 100%;
    }

    70% {
      transform: scale(1.5);
      box-shadow: 0 0 0 10px transparent;
      border-radius: 100%;
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 transparent;
      border-radius: 100%;
    }
  }



  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(84, 184, 222, 0.7);
      border-radius: 100%;
    }

    70% {
      transform: scale(1.5);
      box-shadow: 0 0 0 10px rgba(84, 184, 222, 0);
      border-radius: 100%;
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(84, 184, 222, 0);
      border-radius: 100%;
    }
  }

  div.back-container {
    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: white;
    }

    svg {
      padding-right: 7px;
      width: 35px;
    }
  }

}
