<ion-header>
  <ion-toolbar>
    <app-back-button [route]="'/'"></app-back-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <section>
    <div class="shooting-type">
      <select class="tabs" [(ngModel)]="selectedTab">
        <option  *ngFor="let tab of tabs;let i = index;" >
          <span>{{tab.name}}</span>
        </option>
      </select>
    </div>
    <div class="content">
      <challenge-list *ngIf="selectedTab===tabs[0].name"></challenge-list>
      <custom-drill *ngIf="selectedTab===tabs[1].name"></custom-drill>
    </div>
  </section>
</ion-content>

