@import "../../assets/colors";

section.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-info {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff36;
    align-items: center;

    .score {
      color: #99ca87;
      font-size: 20px;
      min-width: 100px;
      text-align: center;
      font-weight: bold;
    }

    .content-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      height: 70px;
      justify-content: space-between;

      .profile-pic-wrapper {
        display: flex;
        height: 70px;
        align-items: center;
        padding-left: 20px;

        .profile-pic {
          border-radius: 100%;
          width: 60px;
          height: 60px;
          border: 2px solid white;
        }

        .text-info {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding-left: 10px;
          font-weight: bolder;

          .name {
            color: white;
            display: flex;
            align-items: center;

            .rank {
              color: white;
              display: flex;
              align-items: center;

              span {
                padding-right: 10px;
              }

              img {
                width: 40px;
              }
            }
          }
        }
      }

      .flag {
        height: 60px;
        width: 80px;
      }
    }
  }


  .slides-wrapper {
    padding-top: 20px;

    p {
      text-align: center;
      border-bottom: 1px solid #ffffff36;
      margin: 0 60px;
      padding: 0 0 5px;
      color: #ffffff7a;
      text-align: center;
    }

    ion-slides {
      width: 95vw;
    }

    ion-card {
      width: 100%;
      height: 200px;
      box-shadow: none;
      border-radius: 12px;
      margin-top: 10px;

      img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
      }

      .index {
        position: absolute;
        color: black;
        bottom: 0px;
        left: 10px;
        background: #d3d3d3d4;
      }

      p {
        position: absolute;
        bottom: 0px;
        backdrop-filter: blur(30px);
        left: 0px;
        width: 100%;
        margin: 0;
        color: #fce651;
      }
    }

    .swiper-slide-active {
      transform: scale(1.05, 1.05);

      ion-card {
        img {
          transform: scale(1, 1);
        }
      }
    }

    .swiper-slide {
      transition: 400ms all ease-in-out;
    }
  }

  .ranking-wrapper {
    width: 100%;
    padding-top: 20px;
    overflow-y: auto;
    p {
      color: #ffffff7a;
      text-align: center;
      border-bottom: 1px solid #ffffff36;
      margin: 0 60px;
      padding: 0 0 5px;
      text-align: center;
    }

    .rank-row {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;

      .profile-and-flag {
        position: relative;

        .profile {
          width: 60px;
          height: 60px;
          border-radius: 100%;
        }

        .flag {
          width: 25px;
          height: 25px;
          border-radius: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
          border: 4px solid;
        }
      }

      .name-and-stats {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        min-width: 150px;
        text-align: left;

        .name {
          font-size: 16px;
        }

        .stats {
          color: #adafb2;
          font-size: 14px;
        }
      }

      .score {
        color: #99ca87;
        font-size: 20px;
        min-width: 100px;
        text-align: center;
        font-weight: 700;
      }
    }
  }
}
